@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #25c19f;
}

html[data-theme='dark'] #kidow-archive {
  fill: #fff;
}
html[data-theme='light'] #kidow-archive {
  fill: #000;
}
